<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860391722149-3ku6q2b6nsc316joijquirj78p9dqtl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860391722149-3ku6q2b6nsc316joijquirj78p9dqtl9</string>
	<key>API_KEY</key>
	<string>AIzaSyDT8-4vbeqAp-yO5QTsd_pv8pGWRXmAayE</string>
	<key>GCM_SENDER_ID</key>
	<string>860391722149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bunkem.bunkem</string>
	<key>PROJECT_ID</key>
	<string>bunkem-4799f</string>
	<key>STORAGE_BUCKET</key>
	<string>bunkem-4799f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860391722149:ios:2be0353a4425f5e4</string>
	<key>DATABASE_URL</key>
	<string>https://bunkem-4799f.firebaseio.com</string>
</dict>
</plist>